<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 绑定到指定接口 -->        
<mapper namespace="com.example.museum.mapper.RelicSearchMapper">
    <resultMap id="relicVOmap" type="com.example.museum.vo.RelicItemVO">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="Title" jdbcType="VARCHAR" property="title"/>
        <result column="ImgUrl" jdbcType="VARCHAR" property="src"/>
    </resultMap>
    <select id="SearchRelic" resultMap="relicVOmap">
        SELECT id,Title,ImgUrl
        FROM Arts_withimg
        <where>
            <if test="dto.type != null and dto.type != 'null'">
                AND Classifications = #{dto.type}
            </if>
            <if test="dto.time != null and dto.time != 'null'">
                AND Dynasty LIKE CONCAT('%', #{dto.time}, '%')
            </if>
            <if test="dto.museum != null and dto.museum != 'null'">
                AND Museum = #{dto.museum}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND Title LIKE CONCAT('%', #{dto.name}, '%')
            </if>
            <if test="dto.artist != null and dto.artist != ''">
                AND Artist = #{dto.artist}
            </if>
        </where>
        <choose>
            <when test="dto.sortby == 1">
                ORDER BY Title ASC
            </when>
            <when test="dto.sortby == 2">
                ORDER BY main_start ASC
            </when>
            <otherwise>
                ORDER BY id ASC
            </otherwise>
        </choose>
    LIMIT #{dto.pagesize} OFFSET #{offsize}
    </select>

    <select id="CountSearchRelicl" resultType="Long">
        SELECT count(*)
        FROM Arts_withimg
        <where>
            <if test="dto.type != null and dto.type != 'null'">
                AND Classifications = #{dto.type}
            </if>
            <if test="dto.time != null and dto.time != 'null'">
                AND Dynasty LIKE CONCAT('%', #{dto.time}, '%')
            </if>
            <if test="dto.museum != null and dto.museum != 'null'">
                AND Museum = #{dto.museum}
            </if>
            <if test="dto.name != null and dto.name != ''">
                AND Title LIKE CONCAT('%', #{dto.name}, '%')
            </if>
            <if test="dto.artist != null and dto.artist != ''">
                AND Artist = #{dto.artist}
            </if>
        </where>
    </select>

    <resultMap id="Detailvo" type="com.example.museum.vo.DetailVO">
        <result column="Classifications" jdbcType="VARCHAR" property="type"/>
        <result column="Artist" jdbcType="VARCHAR" property="atrist"/>
        <result column="Description" jdbcType="VARCHAR" property="description"/>
        <result column="Credit" jdbcType="VARCHAR" property="credit"/>
        <result column="Materials" jdbcType="VARCHAR" property="material"/>
        <result column="Dimensions" jdbcType="VARCHAR" property="scale"/>
        <result column="Dynasty" jdbcType="VARCHAR" property="era"/>
        <result column="Title" jdbcType="VARCHAR" property="name"/>
        <result column="PlaceOri" jdbcType="VARCHAR" property="placeori"/>
    </resultMap>
    <select id="getDetailInfo" resultMap="Detailvo">
    select * from Arts_withimg where id = #{id}
    </select>

    <select id="getImgUrlLById"
            parameterType="long"
            resultType="java.lang.String">
    SELECT ImgUrl
    FROM Arts_withimg
    WHERE id = #{id}
    </select>

    <select id="isFavoriteRelic" resultType="boolean">
    select COUNT(*) from fav_relic where uid = (
        select id from app_user where account = #{account}
    ) and rid = #{rid}
    </select>

    <insert id="addFavRelic">
    insert into fav_relic values(#{uid},#{rid},#{time})
    </insert>
    <delete id="delFavRelic">
    delete from fav_relic where uid = #{uid} and rid = #{rid}
    </delete>

    <select id="getRelatedRelic">
        SELECT 
            a.id AS id, 
            a.Title AS name,
            (
                (CASE WHEN t.Artist IS NOT NULL AND a.Artist = t.Artist THEN 100 ELSE 0 END) +
                (CASE WHEN t.Materials IS NOT NULL AND a.Materials = t.Materials THEN 60 ELSE 0 END) +
                (CASE WHEN t.Classifications IS NOT NULL AND a.Classifications = t.Classifications THEN 30 ELSE 0 END) +
                (CASE WHEN t.Title IS NOT NULL AND a.Title LIKE CONCAT('%', t.Title, '%') THEN 50 ELSE 0 END)
            ) AS score
        FROM Arts_withimg a
        JOIN (
            SELECT Artist, Classifications, Title,Materials
            FROM Arts_withimg
            WHERE id = #{id}
        ) t
        WHERE a.id != #{id}
        ORDER BY score DESC
        LIMIT 20;
    </select>

    <select id="getUserFavRelic">
        SELECT 
            a.id AS id,
            a.Title AS name,
            fr.addtime AS time
        FROM 
            fav_relic fr
        JOIN app_user ap ON fr.uid = ap.id
        JOIN Arts_withimg a ON fr.rid = a.id
        <where>
            ap.account = #{un}
            
            <if test="rn != null and rn != ''">
            AND a.Title LIKE CONCAT('%', #{rn}, '%')
            </if>
            
            <if test="ti != null and ti != ''">
            AND fr.addtime &lt;= #{ti}
            </if>
        </where>
        ORDER BY fr.addtime DESC
    </select>

    <select id="HasRelicHistory">
        select count(*) from history_relic where uid = #{uid} and rid = #{rid}
    </select>
    <insert id="addHistoryRelic">
        insert into history_relic(uid,rid) values(#{uid},#{rid})
    </insert>
    <update id="updateHistoryRelic">
        UPDATE history_relic
        SET addtime = NOW()
        WHERE uid = #{uid} AND rid = #{rid}
    </update>
    <select id="getUserHistory">
        SELECT 
            a.id AS id,
            a.Title AS name,
            hr.addtime AS time
        FROM 
            history_relic hr
        JOIN app_user ap ON hr.uid = ap.id
        JOIN Arts_withimg a ON hr.rid = a.id
        <where>
            ap.account = #{un}
            
            <if test="rn != null and rn != ''">
            AND a.Title LIKE CONCAT('%', #{rn}, '%')
            </if>
            
            <if test="ti != null and ti != ''">
            AND hr.addtime &lt;= #{ti}
            </if>
        </where>
        ORDER BY hr.addtime DESC
    </select>
</mapper>